<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThePeopleThatYouCanTrustI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>13DA009735A5D119DDEB70C4BDAF448F5F291DA9</string>
				<key>dateExpires</key>
				<string>3/8/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y95747F67U.com.blue.panthers.ThePeopleThatYouCanTrustI</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y95747F67U</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ThePeopleThatYouCanTrustI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>576089dc-c525-49a7-b5b6-1f063671ea00</string>
				<key>dateExpires</key>
				<string>3/23/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.blue.panthers.ThePeopleThatYouCanTrustI</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y95747F67U</string>
				<key>name</key>
				<string>Brittany Marbaker</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
