<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThePeopleThatYouCanTrustI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4435B8D0CC317972274943235B3CEB187C1A9CD3</string>
				<key>dateExpires</key>
				<string>3/8/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4435B8D0CC317972274943235B3CEB187C1A9CD3</string>
						<key>dateExpires</key>
						<string>3/8/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Y95747F67U.com.blue.panthers.ThePeopleThatYouCanTrustI.Clip</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.on-demand-install-capable</key>
						<true/>
						<key>com.apple.developer.parent-application-identifiers</key>
						<array>
							<string>Y95747F67U.com.blue.panthers.ThePeopleThatYouCanTrustI</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>Y95747F67U</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>PeopleYouCanTrustClip.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4012e44f-87ee-49d5-b391-4750965366bf</string>
						<key>dateExpires</key>
						<string>3/8/25</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.blue.panthers.ThePeopleThatYouCanTrustI.Clip</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y95747F67U</string>
						<key>name</key>
						<string>Brittany Marbaker</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y95747F67U.com.blue.panthers.ThePeopleThatYouCanTrustI</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-appclip-app-identifiers</key>
				<array>
					<string>Y95747F67U.com.blue.panthers.ThePeopleThatYouCanTrustI.Clip</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Y95747F67U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ThePeopleThatYouCanTrustI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>94bc60a9-02c7-44f3-a688-cc8750f36f8e</string>
				<key>dateExpires</key>
				<string>3/8/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.blue.panthers.ThePeopleThatYouCanTrustI</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y95747F67U</string>
				<key>name</key>
				<string>Brittany Marbaker</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
